<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Restoran</h5>
              <form  [formGroup]="form" (ngSubmit)="submitData()">

                  <div class="form-group">
                      <label for="pwd">User</label>
                    <select formControlName="user" class="form-control form-control-lg" >
                      <option *ngFor = "let user of useri" value={{user.USERID}}>{{ user.USERNAME }}</option>
                    </select>
                  </div>

                <div class="form-label-group">
                  <label for="naziv">Naziv</label>
                  <input formControlName="naziv" type="text" id="naziv" class="form-control" placeholder="Naziv" required="required">
                </div>
           
                <div class="form-label-group">
                  <label for="pib">PIB</label>
                  <input formControlName="pib" type="text" id="pib" class="form-control" placeholder="PIB" required="required">
                </div>
  
                <div class="form-label-group">
                    <label for="adresa">Adresa</label>
                    <input formControlName="adresa" type="text" id="adresa" class="form-control" placeholder="Adresa" required="required">
                  </div>
    
                <button class="btn btn-lg btn-primary btn-block text-uppercase" style="background-image: linear-gradient(to right, #e67e22, #f2aa6a, #edc6a3);" type="submit">Kreiraj restoran</button>
              </form>
              <div *ngIf="error == 1" class="alert alert-danger">
                <ul>
                  <li>Sva polja moraju biti validno popunjena!</li>
                </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>