<footer class="page-footer font-small bg-dark text-white pt-4">
    <div class="container">
      <ul *ngIf="role != '1' && role != '2'" class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Registruj se besplatno</h5>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-white btn-rounded bg-dark text-white" routerLink="/register">Registeruj se!</a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright: <a> Katarina Stojkovic</a>
    </div>
  </footer>
